.yt{
    display:flex;
    width:1460px;
    height:1020px;
    flex-direction: column;
}
.first{
    display:flex;
    height:50px;
 justify-content: space-between;
}

.item1{
    display:flex;
    width: 180px;
    margin:3px;

}
.a1{
    flex: 1;
    background-color: grey;
    margin-right: 5px;
}
.a2{
    flex: 2;
    background-color: grey;

}
.item2{
display:flex;
width:650px;
margin:3px;
}
.b1{
    flex: 1;
    background-color: grey;
    border-radius: 30px;

}
.b2{
    background-color:grey;
    width:50px;
    margin:3px;
    border-radius: 50px;
}
.item3{
    background-color: grey;
    width:100px;
    border-radius:30px;
    margin:3px;
}
.second{
    display: flex;
    flex: 1;
   
    border-top:2px solid black;
}
.content1{
    width:60px;
    border-right: 2px solid black;
}
.content2{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.c1{
    background-color: grey;
    height:360px;
    width: 445px;
    margin-top:20px;
    margin-left: 20px;
    margin-right: 20px;
}
.c2{
    background-color: grey;
    height:360px;
    width: 445px;
    margin-top:20px;
    margin-right: 20px;
}
.c3{
    background-color: grey;
    height:360px;
    width: 445px;
    margin-top:20px;
}
.c4{
    
    background-color: grey;
    height:360px;
    width: 445px;
    margin-left:20px;
    margin-top: 20px;
}
.c5{
    
    background-color: grey;
    height:360px;
    width: 445px;
    margin-left:20px;
    margin-top: 20px;
}
.c6{
    
    background-color: grey;
    height:360px;
    width: 445px;
    margin-left:20px;
    margin-top: 20px;
}